/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Case Studies
        4.4 Services
        4.5 Contact
    5. Media Queries
////////////////////////*/

/*/////
Kleurenpalet
Paars #5722CD
Blauw #4845E4
Roze #ED4385
Zwart #0C0C0C (voor standaard tekst)
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst)
/////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    color: #0C0C0C;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

a {
    color: #4845E4;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.small-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    text-align: center;
    margin: 100px;
    gap: 25px;

    /*border: 2px dashed gold;*/
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 2px solid red;*/
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: #4845E4;
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 2px solid red;*/
}

.header-text {
    font-size: 24px;
    font-weight: 200;
}

header > nav > ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
}

header > p {
    color: #FFFFFF;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

.navbar {
    width: 100%;
    padding: 20px;


    /*border: 2px dashed yellow;*/
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #ED4385;
    border: none;
    width: 210px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0 5px 5px #3C178C;
}

/* --------------- 4.2 Introduction ------------------- */
h2 {
    color: #5722CD;
    font-weight: 700;
    font-size: 30px;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.introduction a {
    color: #5722CD;
}

.position {
    padding-top: 85px;
}

/* --------------- 4.3 Case Studies ------------------- */
h3 {
    font-size: 28px;
}

.casestudies-section {
    background-color: #F3F6F9;
}

.casestudies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
    gap: 100px;
    padding: 100px 0;

    /*border: 2px dashed darkolivegreen;*/
}

.article-casestudies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;

    /*border: 2px solid orangered;*/
}

.article-casestudies:nth-child(even) {
    flex-direction: row-reverse;
}

.casestudies-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    flex-basis: 350px;

    /*border: 2px solid darkcyan;*/
}

.casestudies-text a {
    text-transform: uppercase;
    font-weight: 500;
    color: #5722CD;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 0 10px 20px #7A7A7A;
}

.image-wrapper img {
    width: 100%;
}

/* --------------- 4.4 Serivces ------------------- */
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px;

    /*border: 5px solid #4845E4;*/
}

.services-article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: stretch;*/
    padding: 50px;
    flex-basis: 390px;
    flex-grow: 0;
    flex-shrink: 1;
    /*flex-wrap: wrap;*/
    /*gap: 20px;*/
    box-shadow: 0 10px 20px lightgray; ;
    border: 1px solid #3C178C;
    color: #7A7A7A;
}

.services-article-container h4 {
    color: #5722CD;
    font-size: 24px;
    padding: 20px 0;
}

.services-article-container img {
    width: 80px;
    /*height: 80px;*/
}

/* --------------- 4.5 Contact ------------------- */
.contact {
    background: #4845E4;
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 2px solid red;*/
}

section > div > h2 {
    font-size: 50px;
    color: #FFFFFF;
}

.form-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 800px;
}

.form-style input {
    margin-bottom: 30px;
    height: 50px;
    width: 100%;
}

.form-style label {
    font-weight: 700;
}

.form-style input::placeholder {
    padding-left: 10px;
}

.form-style textarea {
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
}

.form-style textarea::placeholder {
    padding-top: 15px;
    padding-left: 10px;
}

.form-style button {
    align-self: center;
}

/* --------------- 4.6 Footer ------------------- */
footer {
    background-color: #0C0C0C;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (max-width: 576px)  {
    /* ------------------------------- 3. Layout --------------------------------------- */

    /* --------------- 3.1 Reusables ----------------------- */
    .small-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        text-align: center;
        margin: 50px 5px;
        gap: 25px;
    }

    h1 {
        font-weight: 800;
        font-size: 25px;
    }

    .header-text {
        font-size: 22px;
        font-weight: 200;
    }

    header > nav > ul > li > a {
        font-size: 12px;
        font-weight: 700;
    }

    .navbar-list {
        justify-content: center;
      }
}